.start h1 {
    font-size: 3.5em;
}

.start p {
    margin-bottom: 4em;
    color: gold;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    height: 35%;
}